# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hotdeal_db
DB_USERNAME=user
DB_PASSWORD=password

# Server Configuration
SERVER_PORT=8080

# URL Configuration
BASE_URL_API=http://localhost:8080
BASE_URL_FRONTEND=http://localhost:3000
